@import "var.scss";

#chatroom {
    background-color: #acc6d9;
    border: 1px solid gray;

    * { border: 1px solid blue; }

    .send {
        position: fixed;
        width: 400px;
        height: 130px;
        left: calc((100% - 400px)/2);
        bottom: calc((100% - 650px)/2);
        background-color: white;
        border: 1px solid gray;
        border-top: 1px solid $gray;
    }
}