@import "var.scss";

$gray1: #e3e3e3;

#create_chatroom {

    section:first-child { 
        margin-bottom: 25px;
    }

    h2 { font-size: 15px; }
    h2, h3 { padding: 10px 0; }

    form > div { 
        position: relative; 
        margin: 5px 0;
    }

    input[type="text"] {
        border-bottom: 1px solid $gray1;
        width: calc(100% - 40px);
        padding: 10px 0;
        position: relative;

        &:focus, &:focus + label {
            outline: none;
            border-bottom: 1px solid black;
        }

        & + label {
            border-bottom: 1px solid $gray1;
            color: $middlegray;
            position: absolute;
            width: 40px;
            height: 30px;
            right: 0;
            bottom: 0;
            text-align: right;
            line-height: 23px;
        }
    }

    .radio {
        margin: 25px 0;

        input[type="radio"] {
            appearance: none;

            &:checked {
                & + label::before { border: 3px solid $yellow2; }
                & + label::after { display: unset; }
            }
        }

        label {
            position: relative;
            display: inline-block;
            width: 120px;

            &::before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 25px;
                border: 1px solid $gray;
                border-radius: 15px;
                margin-right: 10px;
                vertical-align: middle;
                box-sizing: border-box;
            }

            &::after {
                content: "";
                width: 12px;
                height: 12px;
                background-color: $yellow2;
                display: block;
                position: absolute;
                top: calc(50% - 6px);
                left: 6.5px;
                border-radius: 10px;
                display: none;
            }
        }
        
    }


    .btns {
        position: fixed;
        padding: 20px;
        width: 400px;
        left: calc((100% - 400px)/2);
        bottom: calc((100% - 650px)/2);
        border-top: 1px solid $gray1;
        text-align: right;

        button {
            width: 80px;
            padding: 15px;
            font-size: 14px;
            border-radius: 3px;
            margin-left: 10px;
            cursor: pointer;
        }
        .ok {
            background-color: $yellow;
        }
        .cancel {
            background-color: white;
            border: 1px solid $gray1;

            &:hover {
                background-color: $lightgray;
                border: 1px solid $gray;
            }
        }
    }
}

/* Mobile Device */
@media (max-width: $mobile-width) {
    #create_chatroom {
        .btns {
            left: unset;
            right: 0;
            bottom: 0;
        }
    }
}